<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNuXePGA8v9vIAG2WOyoILIo_uk7la1iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>405739355445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bomberman</string>
	<key>PROJECT_ID</key>
	<string>bomberman-8a1bf</string>
	<key>STORAGE_BUCKET</key>
	<string>bomberman-8a1bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405739355445:ios:946cdf89e531aa9ec4607c</string>
</dict>
</plist>